################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VeDrik.Astro/.vs/VeDrik.Astro
/VeDrik.Astro/bin/Debug/net9.0
/VeDrik.Astro/obj
/VeDrik.Astro/wwwroot/lib/bootstrap/dist
/VeDrik.Astro/.vs/CopilotSnapshots/CD707FE41713B944B502E00503A05DB4
/VeDrik.Astro/bin/Release/net9.0
/VeDrik.Astro/publish
/VeDrik.Astro/.vs/ProjectEvaluation
/VeDrik.Astro/.vs/CopilotSnapshots/9E0729700637AD478E944B496B166FA2
